html {
    background-image: url(https://freerangestock.com/sample/109685/painted-lightbulb--creativity-and-imagination-concept--abstrac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.fell-grt-primer {
    font-family: 'IM Fell Great Primer SC', serif;
}

.bg-blue {
    background-color: rgb(14, 113, 158);
}